<header class="header">
  <div class="right row">
    <div class="room-selector" *ngIf="roomService.allRooms$ | async as rooms">
      <mat-form-field>
        <mat-label>Select a room!</mat-label>
        <mat-select [(value)]="currentSelectedRoom" (valueChange)="roomService.selectRoom($event)">
          <mat-option *ngFor="let room of rooms" [value]="room">{{room.name}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="range-selector">

    </div>
    <div class="item-container row">
      <button class="header-item" mat-raised-button type="submit">
        <div class="row">
          <mat-icon id="addEventIcon" svgIcon="add_alert"></mat-icon>
          <div>Add booking</div>
        </div>
      </button>
      <button class="header-item" mat-raised-button [matMenuTriggerFor]="userMenu">
        <b>{{loginService.userName || 'Guest' }}</b>
      </button>
      <mat-menu #userMenu="matMenu">
        <button mat-menu-item>Login</button>
        <button mat-menu-item>Manage rooms</button>
        <button mat-menu-item>Manage events</button>
        <button mat-menu-item>Logout</button>
      </mat-menu>
    </div>
  </div>
</header>
<div class="inline">
  <div class="left-menu">
    <div class="datepicker-container">
      <mat-calendar [(selected)]="currentSelectedDate"></mat-calendar>
    </div>
  </div>
  <div class="calendar-container">
    <app-calendar [currentDate]="currentSelectedDate"></app-calendar>
  </div>

</div>
