<header class="header">
  <div class="header-container">
    <div class="row left">
      <div class="title">Teremfoglaló alkalmazás</div>
    </div>
    <div class="full-width">
      <div class="range-selector row" *ngIf="currentSelectedRange">
        <mat-icon svgIcon="arrow-left" (click)="eventService.previousRange()"></mat-icon>
        <div>{{currentSelectedRange.start}} - {{currentSelectedRange.end}}</div>
        <mat-icon svgIcon="arrow-right" (click)="eventService.nextRange()"></mat-icon>
      </div>
    </div>
    <div class="row right">
      <div class="item-container row">
        <button class="header-item" mat-raised-button type="submit" *ngIf="loginService.isLoggedIn()" (click)="openAddBookingDialog()">
          <div class="row">
            <mat-icon id="addEventIcon" svgIcon="add_alert"></mat-icon>
            <div>Esemény létrehozása</div>
          </div>
        </button>
        <button class="header-item" mat-raised-button [matMenuTriggerFor]="userMenu">
          <b>{{loginService.userName || 'Vendég' }}</b>
        </button>
        <mat-menu #userMenu="matMenu">
          <button mat-menu-item (click)="openLoginDialog()" *ngIf="!loginService.isLoggedIn()">Bejelentkezés</button>
          <button mat-menu-item (click)="openRegisterDialog()" *ngIf="!loginService.isLoggedIn()">Regisztráció</button>
          <button mat-menu-item (click)="openManageRoomsDialog()" *ngIf="loginService.isAdmin()">Termek kezelése</button>
          <button mat-menu-item (click)="openManageUsersDialog()" *ngIf="loginService.isAdmin()">Felhasználók kezelése</button>
          <button mat-menu-item (click)="loginService.logout()" *ngIf="loginService.isLoggedIn()">Kijelentkezés</button>
        </mat-menu>
      </div>
    </div>
  </div>
</header>
<div class="body">
  <div class="left-menu">
    <div class="room-selector" *ngIf="roomService.rooms$ | async as rooms">
      <mat-form-field>
        <mat-label>Válassz termet!</mat-label>
        <mat-select (valueChange)="roomService.selectRoom($event)" [value]="roomService.currentSelectedRoom$ | async">
          <mat-option *ngFor="let room of rooms" [value]="room">{{room.name}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="datepicker-container">
      <mat-calendar #leftDatePicker [selected]="eventService.currentSelectedDate$ | async" (selectedChange)="selectDate($event)"></mat-calendar>
    </div>
  </div>
  <div class="calendar-container">
    <app-calendar (eventClicked)="editEvent($event)"></app-calendar>
  </div>
</div>
<div class="modal-dialog" *ngIf="loginDialogOpen">
  <div class="close-button topright" (click)="closeLoginDialog()">&times;</div>
  <app-login (onCloseDialog)="closeLoginDialog()"></app-login>
</div>

<div class="modal-dialog manage-rooms" *ngIf="manageRoomsDialogOpen">
  <div class="close-button topright" (click)="closeManageRoomsDialog()">&times;</div>
  <app-manage-rooms></app-manage-rooms>
</div>

<div class="modal-dialog add-booking" *ngIf="addBookingDialogOpen">
  <div class="close-button topright" (click)="closeAddBookingDialog()">&times;</div>
  <app-add-booking (onCloseDialog)="closeAddBookingDialog()" [event]="eventEditing"></app-add-booking>
</div>

<div class="modal-dialog register" *ngIf="registerDialogOpen">
  <div class="close-button topright" (click)="closeRegisterDialog()">&times;</div>
  <app-register-form (onCloseDialog)="closeRegisterDialog()"></app-register-form>
</div>

<div class="modal-dialog manage-users" *ngIf="manageUsersDialogOpen">
  <div class="close-button topright" (click)="closeManageUsersDialog()">&times;</div>
  <app-manage-users (onCloseDialog)="closeManageUsersDialog()"></app-manage-users>
</div>

<div class="error-container" *ngIf="errorService.error$ | async as message">
  <div class="error">
    {{message}}
  </div>
</div>
